:root {
  /* Theme Colors */
  --navy: #15173d;
  --beige: #e5d9b6;
  --green: #628141;
  --off-white: #f5f5f5;
  --orange: #E67E22;
  --gold: #d4a855;

  /* Theme Typography */
  --font-title: "Playfair Display", serif;
  --font-content: "Lato", sans-serif;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--off-white);
  color: var(--navy);
  font-family: var(--font-content);
  /* Lato for content as default */
  font-weight: 300;
  /* lato-light as base (default) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  color: var(--navy);
  font-weight: 700;
  /* Bolder playfair by default */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Typography Utility Classes */
.playfair-display {
  font-family: var(--font-title);
  font-optical-sizing: auto;
  font-style: normal;
}

/* Lato Weights */
.lato-thin {
  font-family: var(--font-content);
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: var(--font-content);
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: var(--font-content);
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: var(--font-content);
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: var(--font-content);
  font-weight: 900;
  font-style: normal;
}

/* Lato Italics */
.lato-thin-italic {
  font-family: var(--font-content);
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: var(--font-content);
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: var(--font-content);
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: var(--font-content);
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: var(--font-content);
  font-weight: 900;
  font-style: italic;
}